h1 {
    text-align: center;
    color: cornflowerblue;
}
nav {
    background-color: cornflowerblue;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;

}

nav li {
    display: inline-block;
    margin-right: 25px;
}

nav a {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
}

nav a:hover {
    color: rgb(255, 149, 62);
}

.detailImg {
  float: left;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.356);
  margin: 10px 50px;
}
body{
    background-color:#243e4b;
    color: white;
}
  